@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rubik+Bubbles&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.position-fixed{
    z-index: 4;
}

header{
    position: relative;
    /* background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 90vh; */
}

/* .header-banner{
    position: absolute;
    color: rgb(236, 236, 236);
    bottom: 13%;
    left: 10%;
    width: 80%;
    font-weight: 900;
    z-index: 2;
}

.header-banner h1, .header-banner p{
    text-shadow: 1px 2px rgb(182, 87, 87);
} */

.carousel-caption{
    position: absolute;
    color: rgb(236, 236, 236);
    left: 10%;
    width: 80%;
    font-weight: 900;
    z-index: 2;
}

.carousel-caption h1, .carousel-caption p{
    text-shadow: 1px 2px rgb(177, 79, 79);
}

.form-floating{
    font-size: 10px;
    color: rgb(255, 170, 170);
}

h1, h2, h3, h4, h5, nav li{
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
}

img{
    pointer-events: none;
  }

.nav-link{
    color: aliceblue !important;
}

.navbar-brand{
    color: rgb(253, 253, 253);
    font-weight:  600;
    font-size: 2em;
    font-style: italic;
    text-shadow: 1px 2px rgb(182, 87, 87);
}

.navbar-brand span{
    font-family: Script MT;
}

.navbar-brand:hover{
    color: rgb(253, 253, 253);
}

.nav-link:hover{
    color: rgb(255, 170, 170) !important;
    text-decoration: underline;
    transition: .5s;
}

/* Caroussel */

.carousel-item{
    width: 100vw;
    height: 100%;
    z-index: -2;
}

/*product card*/
.c-width{
    width: 100%;
    margin-bottom: 10px;
    color: rgb(214, 148, 62) !important;
}

.img-zoom{
    overflow: hidden;
}

.img-zoom > img{
    transition: transform 1s;
}

.img-zoom:hover  img{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}

.card-body{
    padding: 0 !important;
}

.col-sm-7{
   margin-left: 7% !important;
}

/* product and services */

.card-body .fs-3{
    color: rgb(214, 148, 62) !important;
}

.prodserv:hover img{
    opacity: .8;
}

/* FAQ */

.accordion-button{
    font-size: 30px !important;
}

/* map / contact */

iframe{
    /* to be fixed */
    /* min-width: ; */
    height: 450px;
}

/* toast */

.pink{
    background-color: rgb(248, 134, 134);
}

/* NewsLettter */

.newsletter h1{
    text-shadow: 1px 2px rgb(182, 87, 87);
}

.newsletter span.border{
    cursor: pointer;
}

.error{
    animation: .5s;
    animation-name: slidein;
    color: red;
}

.grecaptcha{
    overflow: hidden;
}

@keyframes slidein {
    0% {
      margin-left: 0%;
      width: 100%; 
    }
  
    20% {
      margin-left: 5%;
      /* width: 10%; */
    }

    40% {
        margin-left: 0;
        /* width: 10%; */
      }
    
    80% {
    margin-left: 5%;
    /* width: 10%; */
    }
    
    100% {
      margin-left: 0%;
      width: 100%; 
    }  
  }

/* fade in effect */

.fade-in{
    opacity: 0;
    transition:  opacity 500ms ease-in;
}

.fade-in.appear{
    opacity: 1;
}

@media screen and (min-width: 574px) {
    header{
        background-size: cover;
        margin-bottom: 100px;
    }

    .col-sm-7{
        margin-left: auto !important;
    }

    .header-banner{
        width: 70%;
        bottom: 10%;
    }

    /*product card*/
    .c-width{
        width: 100%;
    }

}

@media screen and (min-width: 850px) {
    header{
        background-size: cover;
        height: 99vh;
    }

    .col-sm-7{
        margin-left: auto !important;
    }

    .header-banner{
        width: 40%;
        bottom: 10%;
    }

    .carousel-item img{
        width: 100vw;
        height: 98vh;
        z-index: -2;
    }

    .c-width{
        width: 100%;
    }

    nav{
        height: 100px;
    }

    iframe{
        width:470px;
        height: 470px;
    }

}